<div class="card mb-3">
  <div class="row no-gutters">
    <div class="text-center">
    <div class="col-xs-2">
      <!-- mx-auto for centering, img-fuild for resizing, rounded for round corners. -->
      <img src="/assets/images/projects/{{post.student}}.svg" class="img-fluid mx-auto d-block rounded">
    </div>
    </div>
    <div class="col-xs-10">
      <div class="card-body">
        <p class="card-text">

        <a href="{{ post.ext-url }}"><b>{{ post.title | escape }}</b></a>, {{ post.student }} {{ post.subject }}, {{ post.semester}} {{ post.year }}. 
          {% if post.details %}
          <b><i>{{ post.details }}</i></b>.
          {% endif %}
          Supervisors: 
					{% for supervisor in post.supervisors %}
					  {% if supervisor contains "Dümbgen" %}<u>{% endif %}{{ supervisor }}{% if supervisor contains "Dümbgen" %}</u>{% endif %}
					{% endfor %}
				</p>
      </div>
    </div>
  </div>
</div>
<hr style="width:70%; margin-top:0.2em; margin-bottom:0.5em">
