<div class="card mb-3">
  <div class="row no-gutters">
    <div class="card-body">
      <div class="col-sm-4">
      <h4 class="card-title"> {{ post.title }} </h4>
        <div class="text-center">
			  {% if post.image %}
        <a href="/assets/images/research/{{ post.image }}">
        <img src="/assets/images/research/{{ post.image }}" class="card-img" alt="{{ post.image-alt }}" 
      style="max-height:200px;">
        </a>
			  {% endif %}
        </div>
      </div>
      <div class="col-sm-8">
        <p class="card-text"> {{ post.content }} </p>
      </div>
    </div>
  </div>
</div>
<hr style="width:100%; margin-top:0.2em; margin-bottom:0.5em">
