<div class="card mb-3">
  <div class="row no-gutters">
    <div class="text-center">
    <div class="col-sm-4">
			{% if post.image %}
      <img src="/assets/images/{{ post.image }}" class="card-img" alt="{{ post.image-alt }}" 
      style="max-height:300px;">
			{% endif %}
    </div>
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h3 class="card-title"> {{ post.title }} </h3>
        <p class="card-text"> {{ post.content }} </p>
      </div>
    </div>
  </div>
</div>
<hr style="width:100%; margin-top:0.2em; margin-bottom:0.5em">
