---
---

@import "minima";
@import "bootstrap";


.social-media-list {
  text-align: left;
  list-style-position: inside;
}

.icon > svg {
  height: 16px;
}

.publication {
  text: center;
  margin: auto;
}
