---
---

@import "minima";
@import "bootstrap";


.social-media-list {
  text-align: left;
  list-style-position: inside;
}

.icon > svg {
  height: 16px;
}

.tab {
  padding-left: 8px;
}

.card > img {
  object-fit: cover; 
  object-position: 0 0;
  vertical-align: bottom; 
}
