---
layout: default
---
<article class="post">

  <header class="post-header">
  {% if page.title %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
  {% else %}
    <h1 class="post-title">Welcome</h1>
  {% endif %}
  </header>

<div class="container">
  <div class="row" style:"display:flex;">
  	{% if page.image %}
		<div class="col-sm-3">
			<img src="/assets/images/{{ page.image }}" alt="Portrait picture" class="img-circle"
       style="max-height:200px;"> 
		</div>
  	{% endif %}
 		<div class="col-xs-12 visible-xs"><br></div>
    <div class="col-sm-7">
    <div class="col">
	  {{ content }}
    </div>
  </div>
</div> 


</article>
