---
layout: default
---

<div class="text-center">

  <header class="post-header">
	  <h2 class="page-title">{{ page.title }}</h2>
	  <h5> 
      {% for author in page.ref-authors %}
      {% if author == "me" %}F. Dümbgen{% else %}{{ author }}{% endif %}<span class="tab">
      {% endfor %}
    <h5>
    <h5> {{ page.ref-journal }}, {{ page.ref-year }} </h5>
    </p>
  </header>


  {% if page.image %}
  <img src="/assets/images/publications/{{ page.image }}" class="img-fluid" alt="{{ page.image-alt}}"
  style="max-width:70%"/>
  {% endif %}

</div>

{% if page.summary %}
<center>
<h3> One-sentence summary </h3> 
<h4> {{ page.summary }} </h4>
</center>
{% endif %}

<h3> Abstract </h3> 
<p class="text-justify">
  {{ content }}
</p>

{% if page.ref-link %}
<a href="{{ page.ref-link }}">[Paper]</a>
{% endif %}
{% if page.arxiv-link %}
<a href="{{ page.arxiv-link }}">[arXiv]</a>
{% endif %}
{% if page.ref-video %}
<a href="{{ page.ref-video }}">[Video]</a>
{% endif %}
{% if page.ref-code %}
<a href="{{ page.ref-code }}">[Code]</a>
{% endif %}
